body{background-color:  #333333;
font-family: 'Work Sans', sans-serif;}

.taskbar{border-style:solid;
   border-width:1px;
   border-color: #4586c3;
    background-color: #4586c3;
  width:500px;
height:40px;}

.taskbar a{color:white; text-decoration:none;}

h1{color:white; text-align: center;
  padding-right:45%;
  padding-top:2%;}


a{color:#4586c3; text-decoration: none;}


  #taskbar{clear:both;}


  #image {padding-top:2%;
    padding-left: 2%;
        float: left;
        width: 30%;
      padding-bottom:1%;


  }

  #image img{
         width: 15%;
  }

  #name{
    font-size:110%;
      width: 60%;
    float: right;
    text-align:center;
    padding-right:5%;
  }



#header{color: white;
  text-align: center;
  clear: both;
  font-style: italic;
  font-size:90%;
}



.left{padding-left:1%;
  float:left;
   width:30%;
  padding-right:3.5%;}

.left img{width:75%;}

.right{width:65%;
  float:right;
   color:white;}

.product{clear:both;
text-align: center;
color: white;
padding-top:3%;}




         #review{padding-top:2%;
           text-align:center;
           clear:both;
         color:white;
      padding-bottom:3%;}


#footer{
        clear:both;
        text-align: center;
        color: white;
        background-color: #4586c3;
        height: 35px;
        border: 1px solid #4586c3;
        padding-right: 1%;
        padding-top: 0.70%;
        padding-bottom:0.3%;
         }


#footer img{
      height: 100%;
      text-align: center;
      float: right;


}



@media screen and (max-width:478px) {
          body{
               font-size: px;
          }


          nav{
             width: 100%;
             margin-bottom: 10px;
          }


          nav ul{
             list-style: none;
             margin: 0 auto;
             padding-left: 0;
          }

          nav ul li{
            text-align: center;
            margin-left: 0 auto;
            width: 100%;}
#image img{
  width:27%;
          }

}

@media screen and (max-width:700px) {
  body{
    font-size: 12px;
  }
  #image img{
    width:30%;
            }


  nav{
     width: 100%;
     margin-bottom: 10px;
  }


  nav ul{
     list-style: none;
     margin: 0 auto;
     padding-left: 0;
  }

  nav ul li{
    text-align: center;
    margin-left: 0 auto;
    width: 100%;


}
