body{background-color: #333333;
    font-family: "Work Sans", sans-serif;
    text-decoration:none;
}


.taskbar{border-style:solid; border-width:1px; border-color: #4586c3; background-color: #4586c3;
  width:500px;
height:40px;}
h1{color: white; text-align:center;}
a{color:white; text-decoration:none;}

#header{color:white; text-align:center; font-size:180%; clear: both;}

.left{width:30%; float: left;}

.right{width:70%;float: right; font-size:110%; color:white;}

#footer{
        clear:both;
        text-align: center;
        color: white;
        background-color: #4586c3;
        height: 35px;
        border: 1px solid #4586c3 ;}

  .names{ color:white;clear: both; font-size:80%;}
