body{background-color: #333333;}
a{color:white; text-decoration: none;}
p{color:white;}
h1{color:white; text-align: center;}
ul{
  color:white;}


body{font-family: 'Work Sans', sans-serif;}


#image {
      float: left;
      width: 30%;


}

#image img{
       width: 10%;
}

#name{
    width: 70%;
    clear: both;
}

#left{float: left;
      width:60%;
      font-size:20px;
    padding-left:1%;}

#right{float:right; width:30%; padding-left:-1%;}

#right img{width:100%;}

.picture {width:20%;}

.taskbar{border-style:solid;
         border-width:1px;
         border-color: #4586c3;
         background-color: #4586c3;
         width:500px;
         height:40px;}



         #review{clear:both;
         color:white;
       padding-left:3%;
     padding-bottom:3.5%;}


         #footer{
                 clear:both;
                 text-align: center;
                 color: white;
                 background-color: #4586c3;
                 height: 35px;
                 border: 1px solid #4586c3;
                 padding-right: 1%;
                 padding-top: 0.75%;
                  }


         #footer img{
               width: ;
               height: 100%;
               text-align: center;
               float: right;
               padding-bottom: 0.25%;

         }




         @media screen and (max-width:478px) {
                   body{
                        font-size: 6px;
                   }


                   nav{
                      width: 100%;
                      margin-bottom: 10px;
                   }


                   nav ul{
                      list-style: none;
                      margin: 0 auto;
                      padding-left: 0;
                   }

                   nav ul li{
                     text-align: center;
                     margin-left: 0 auto;
                     width: 100%;

                   }

         }

         @media screen and (max-width:1000px) {
           body{
             font-size: 14px;
           }


           nav{
              width: 90%;
              margin-bottom: 10px;
           }


           nav ul{
              list-style: none;
              margin: 0 auto;
              padding-left: 0;
           }

           nav ul li{
             text-align: center;
             margin-left: 0 auto;
             width: 90%;

           }


         }
       }
