body{background-color: #4D4D4D;}

#left{float: left; width:60%;
font-size:20px;}

#right{float:right; width:40%; margin-right:-30px;}

.taskbar{border-style:solid; border-width:1px; border-color: #4586c3; background-color: #4586c3;
  width:500px;
height:30px;}



p{color:white;}
