body{background-color: #333333;}
a{color:white; text-decoration: none;}
p{color:white;}
h1{color:white; text-align: center;}


body{font-family: 'Work Sans', sans-serif;}

#left{float: left;
      width:60%;
      font-size:20px;}

#right{float:right; width:30%; padding-left:-1%;}

#right img{width:100%;}

.picture {width:20%;}

.taskbar{border-style:solid;
         border-width:1px;
         border-color: #4586c3;
         background-color: #4586c3;
         width:500px;
         height:40px;}

         #footer{
                 clear:both;
                 text-align: center;
                 color: white;
                 background-color: #4586c3;
                 height: 35px;
                 border: 1px solid #4586c3;
                 padding-right: 1%;
                 padding-top: 0.75%;
                  }


         #footer img{
               width: ;
               height: 100%;
               text-align: center;
               float: right;
               padding-bottom: 0.25%;

         }
