body{background-color: #333333;}
body{font-family: 'Work Sans', sans-serif;}
p{
  color: white;
}

ul{
  color: white;
}

#header{color: white;
  text-align: center;
  clear: both;
  font-style: italic;
}


         #review{clear:both;
         color:white;
       padding-left:3%;
      padding-bottom:3.5%;}


#footer{
        clear:both;
        text-align: center;
        color: white;
        background-color: #4586c3;
        height: 35px;
        border: 1px solid #4586c3;
        padding-right: 1%;
        padding-top: 0.75%;
         }


#footer img{
      width: ;
      height: 100%;
      text-align: center;
      float: right;
      padding-bottom: 0.25%;

}




.left{
     width: 30%;
     padding-left:1%;
     padding-right: 3.5%;
     float: left;
}

.left img{width:75%;}

.right{width:65%;
  float:right;
   color:white;}

.product{
    color: white;
    text-align: center;
    clear:both;
}

.taskbar{border-style:solid;
    border-width:1px;
    border-color: #4586c3;
    background-color: #4586c3;
    width:500px;
    height:40px;}

h1{color:white; text-align: center;}

a{color:white; text-decoration: none;}
